/* importar la fuente Rubik desde Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500');

/* establecer el modelo de caja para todos los elementos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* borde superior del cuerpo */
  background: #15151e00;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  /* centrar la tabla horizontalmente */
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  /* posición relativa para incluir una banda a la izquierda del contenedor */
  margin: 0rem 1rem;
  background-color: #15151E;
  position: relative;
  /* limitar el ancho de la tabla */
  width: calc(90vw - 2rem);
  max-width: 500px;
  /* separación entre las filas de la tabla */
  border-spacing: 0 1rem;
}
/* con un pseudo elemento agregar una banda con un degradado lineal repetido */
table:before {
  position: absolute;
  content: '';
  right: calc(100% + 1rem);
  top: 0;
  height: 100%;
  width: 1.5rem;
  border-radius: 5px;
  border: 1px solid #38383F;
  background: repeating-linear-gradient(-45deg, #15151E 0px, #15151E 4px, #38383F 4px, #38383F 8px);
}
/* centrar cada elemento anidado en una fila de la tabla */
table tr > * {
  text-align: center;
  padding: 0.5rem;
}
/* alinear cada segundo elemento de cada fila a la izquierda */
table tr > *:nth-child(2) {
  text-align: left;
  padding-left: 0.05rem;
  padding-right: 0.05rem;
}
table tr > *:nth-child(3) {
  padding-left: 0.05rem;
  padding-right: 0.05rem;
  font-size: 1.5rem;
}
td.position {
  text-align: center;
}
table th{
  height: 70px;
}
.up{
  position: absolute;
    margin-top: -12px;
    margin-left: 1px;
    width: 20px;
}
.down{
  position: absolute;
    margin-top: 14px;
    margin-left: 10px;
    width: 20px;
    display:none;
}
/* estilo para los encabezados con títulos en mayúsculas */
table th {
  font-weight: 300;
  letter-spacing: 0.04rem;
  font-size: 20px;
  color: #eee;
  text-transform: uppercase;
}

/* aumentar ligeramente el peso de la celda que describe la posición */
table td.position {
  font-weight: 500;
}

/* estilo para la celda con el conductor, separando el nombre y el equipo */
table td.driver {
  padding-left: 1rem;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
}
table td.driver strong {
  text-transform: uppercase;
  font-weight: 500;
}
table td.driver span {
  text-transform: capitalize;
  margin-left: 0.75rem;
  font-size: 0.8rem;
  color: #999;
  letter-spacing: initial;
}

/* estilo para el span anidado en la última celda con un fondo en rectángulo redondeado */
table td.gap span {
  border-radius: 30px;
  padding: 0.5rem 0.75rem;
  font-size: 17px;
  text-transform: uppercase;
  margin-left: -408px;
}

/* en pantallas más pequeñas, ocultar la tercera columna */
@media (max-width: 500px) {
  table tr > *:nth-child(3) {
    display: none;
  }
}

#table-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: transparent;
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  99% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
    visibility: visible;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

.slide-out {
  animation: slideOut 1s ease-in-out forwards;
}

.slide-in {
  animation: slideIn 1s ease-in-out forwards;
}

/* Asegúrate de que estas propiedades estén en tu tabla */
table {
  margin: 0rem 1rem;
  position: relative;
  width: calc(90vw - 2rem);
  max-width: 500px;
  border-spacing: 0 1rem;
  transition: transform 1s ease-in-out;
  transform: translateX(0);
  border-top-left-radius: 40px;
}